*{
    font-size:15px;

}
body{
    background-color:burlywood;

}                    
.container{
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    border-bottom: 4rem;
    background-color: whitesmoke;
    align-items: center;
    

}

img{
    height: auto;
    width: 100%;
    display: block;
    

}
h2{
    color: brown;
    background-color: white;
    
    
}
h3{
    color: brown;
    background-color: white; 


}
h4{
    color: brown;
    background-color: white;


}
h1{
    color: brown;
    background-color:white;

}
table{
    margin: 5px;
    padding: 15px;
    width: 100%;
    border-collapse: collapse;
}
th{
    margin: 5px;
    padding: 15px; 
    background-color: white;
    padding: 8px;
    text-align: left;
}
table, th, td{
    margin: 5px;
    padding: 15px; 
    border: 1px solid black;
}
.attribution{

    display: inline-block;
    text-decoration: none;
    border: 1px solid antiquewhite;
    padding: 12px 34px;
    font-size: 13px;
   background: transparent;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

















